

.section-one{
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-one img{
    width: 30rem;
}
.section-one h4{
    color: #225B3C;
    text-align: center;
    margin-bottom: 2rem;
}
.section-two h3{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.section-two .card{
    background-color: rgb(250, 250, 250);
}
.section-two .card .text{
    text-align: center;
    margin-top: 1rem;
}
.section-two .card .text p{
    word-spacing: 3px;
}
.section-three{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-three img{
    width: 60%;
}
.section-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.section-four img{
    width: 60%;
}
.section-four h5{
    text-align: center;
}
.section-four a{
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
.section-five h3, h5{
    text-align: center;
    margin-top: 2rem;
}
.section-five h3{
    font-weight: 700;
    margin-bottom: 1rem;
}
.section-five h5{
    word-spacing: 3px;
    font-size: 1.5rem;
    color:#225B3C ;
    margin-top: 1rem;
}
.section-six{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.section-six img{
    width: 90%;
}
.section-six h3{
    font-weight: 800;
    margin-bottom: 1rem;
}
.section-six h5{
    word-spacing: 3px;
    font-size: 1.5rem;
    color:#225B3C ;
    margin-bottom: 1rem;   
}
.section-six button{
    width: 90%;
    padding-top:1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}