.footer-section{
    margin-top:3rem;
}
.footer-section span{
    display: flex;
    flex-direction: column;
    margin-bottom:1rem;
    text-align:left;
    font-weight:700;
    
}
.footer-section .icons{
   display:block;
}
.footer-section h5{
    text-align:left;
    margin-bottom:2rem;
    font-weight:800;
}